

.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);
  min-height: 100vh;
  padding: 6rem 10rem!important;
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}


/* Small devices (landscape phones) */
@media (max-width: 576px) {
  .background-radial-gradient {
    padding: 2rem 1rem !important;
  }
}

/* Medium devices (tablets) */
@media (min-width: 577px) and (max-width: 991px) {
  .background-radial-gradient {
    padding: 4rem 4rem !important;
  }
}

/* Large devices (desktops) */
@media (min-width: 992px) {
  .background-radial-gradient {
    padding: 6rem 10rem !important;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
  .background-radial-gradient {
    padding: 8rem 12rem !important;
  }
}

